<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Магазин цветов</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link type="text/css" href="{{ url_for('static', filename='styles.css')}}" rel="stylesheet" />
</head>
<body>

<header id="header">
    <div class="container d-flex justify-content-between align-items-center">
        <nav class="navbar navbar-expand-sm navbar-light">
          <div class="container-fluid">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" href="#">Таблицы</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/add_info">Админ панель</a>
              </li>
            </ul>
          </div>
        </nav>
    </div>
</header>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <h2>Фильтры</h2>
            <div class="form-group">
                <form id="filterForm" method="GET" action="/">
                    <label for="seasonSelect">Выберите сезон цветения:</label>
                    <select class="form-control" id="seasonSelect" name="season" onchange="this.form.submit()">
                        <option value="" {% if current_season == None %} selected {% endif %}>Все</option>
                        <option value="Весна" {% if current_season == 'Весна' %} selected {% endif %}>Весна</option>
                        <option value="Лето" {% if current_season == 'Лето' %} selected {% endif %}>Лето</option>
                        <option value="Осень" {% if current_season == 'Осень' %} selected {% endif %}>Осень</option>
                        <option value="Зима" {% if current_season == 'Зима' %} selected {% endif %}>Зима</option>
                    </select>
                </form>
            </div>

            <div class="form-group">
                <form id="filterForm" method="GET" action="/filter_by_country">
                    <label for="countryInput">Введите страну:</label>
                    <input type="text" class="form-control" id="countryInput" name="country">
                    <button type="submit" class="btn btn-primary mt-2">Фильтр по стране</button>
                </form>
            </div>

            <div class="form-group">
                <form id="filterForm" method="GET" action="/filter_by_supplier">
                    <label for="supplierInput">Введите имя поставщика:</label>
                    <input type="text" class="form-control" id="supplierInput" name="name">
                    <button type="submit" class="btn btn-primary mt-2">Фильтр поставщиков</button>
                </form>
            </div>

            <div class="form-group">
                <form id="filterForm" method="GET" action="/flowers_by_supplier">
                    <label for="supplierFlowersInput">Введите имя поставщика для цветов:</label>
                    <input type="text" class="form-control" id="supplierFlowersInput" name="supplier">
                    <button type="submit" class="btn btn-primary mt-2">Цветы от поставщика</button>
                </form>
            </div>

            <div class="form-group">
                <form id="filterForm" method="GET" action="/suppliers_by_flower_sort">
                    <label for="flowerSortInput">Введите сорт цветка:</label>
                    <input type="text" class="form-control" id="flowerSortInput" name="sort">
                    <button type="submit" class="btn btn-primary mt-2">Поставщики по сорту</button>
                </form>
            </div>

            <div class="form-group">
                <form id="filterForm" method="GET" action="/expensive_flower_sellers">
                    <button type="submit" class="btn btn-primary mt-2">Продавцы самых дорогих цветов</button>
                </form>
            </div>

            <div class="form-group">
                <form id="filterForm" method="GET" action="/common_suppliers">
                    <label for="commonSupplierSeller1Input">Продавец 1:</label>
                    <input type="text" class="form-control" id="commonSupplierSeller1Input" name="seller1">
                    <label for="commonSupplierSeller2Input">Продавец 2:</label>
                    <input type="text" class="form-control" id="commonSupplierSeller2Input" name="seller2">
                    <button type="submit" class="btn btn-primary mt-2">Общие поставщики</button>
                </form>
            </div>
        </div>

        <div class="col-md-12">
            <h2>Цветы</h2>
            <table class="table custom-table" id="flowersTable">
                <thead>
                <tr>
                    <th>Название</th>
                    <th>Вид</th>
                    <th>Страна</th>
                    <th>Сезон цветения</th>
                    <th>Сорт</th>
                    <th>Цена</th>
                </tr>
                </thead>
                <tbody id="flowersList">
                {% for flower in flowers %}
                    <tr>
                        <td>{{ flower.name }}</td>
                        <td>{{ flower.type }}</td>
                        <td>{{ flower.country }}</td>
                        <td>{{ flower.season }}</td>
                        <td>{{ flower.sort }}</td>
                        <td>{{ flower.price }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="col-md-12">
            <h2>Продавцы</h2>
            <table class="table custom-table" id="sellersTable">
                <thead>
                <tr>
                    <th>ФИО</th>
                    <th>Адрес</th>
                </tr>
                </thead>
                <tbody id="sellersList">
                {% for seller in sellers %}
                    <tr>
                        <td>{{ seller.name }}</td>
                        <td>{{ seller.address }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="col-md-12">
            <h2>Поставщики</h2>
            <table class="table custom-table" id="suppliersTable">
                <thead>
                <tr>
                    <th>ФИО</th>
                    <th>Вид хозяйства</th>
                    <th>Адрес</th>
                </tr>
                </thead>
                <tbody id="suppliersList">
                {% if filtered_suppliers %}
                    {% for supplier in filtered_suppliers %}
                        <tr>
                            <td>{{ supplier.name }}</td>
                            <td>{{ supplier.type }}</td>
                            <td>{{ supplier.address }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    {% for supplier in suppliers %}
                        <tr>
                            <td>{{ supplier.name }}</td>
                            <td>{{ supplier.type }}</td>
                            <td>{{ supplier.address }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>
